.Footer {
    background-color: #222;
    color: #fff;
    margin-top: 1.25rem;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #444;
    position: sticky;
}

.Footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .Footer {
        font-size: 12px;
    }
}

